.user {
    width: 800px;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    font-size: 16px;
}

.userIcon {
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userIcon button {
    width: 100px;
    background-color: #6799e3;
    height: 30px;
    color: white;
}

.userIcon button:active {
    background-color: #135ab8;
}

.userIcon button:hover {
    box-shadow: 0 0 10px silver;
}

.photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.userDescription {
    width: 630px;
    border-radius: 5px;
    border: 1px solid #6799e3;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.userDescriptionInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.userDescriptionLocation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.selectedPage {
    font-weight: bold;
}