.posts {
    margin-left: 20px;
    padding: 15px;
}

.posts__item {
    margin-bottom: 50px;
}

.head {
    font-size: 24px;
    margin-bottom: 25px;
}

.button {
    width: 110px;
    text-transform: uppercase;
    height: 30px;
    display: block;
    background-color: #e9ecf1;
    margin-bottom: 15px;
}

.button:hover {
    background-color: #DCDCDC;
}

.button:active {
    background-color: #486a8d;
}

.input {
    resize: none;
    height: 100px;
    width: 400px;
    font-size: 14px;
    padding: 10px 15px;
    margin-bottom: 15px;
    border: 1px solid black;
}

.input:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}