.posts {
    margin-left: 20px;
    padding: 15px;
}

.posts__item {
    margin-bottom: 50px;
}

.head {
    font-size: 24px;
    margin-bottom: 25px;
}

.input {
    resize: none;
    height: 55px;
    border-radius: 10px;
    font-size: 14px;
    padding: 7px 10px;
    border: 1px solid black;
}

.button {
    width: 110px;
    text-transform: uppercase;
    height: 30px;
    display: block;
    background-color: #e9ecf1;
    margin-bottom: 15px;
}

.button:hover {
    background-color: #DCDCDC;
}

.button:active {
    background-color: #486a8d;
}

