.list {
    width: 45%;
    display: flex;
    justify-content: space-around;

    a {
        color: white;
    };

    .active {
        color: #2a5da8;
        border: 1px ;
        background-color: #E0E0E0;
    }

    li {
        text-align: center;
        list-style: none;
        width: 70px;
        height: 25px;
        padding-top: 5px;
        font-size: 14px;
        border-bottom: 1px solid white;

        &:hover {
            color: #2a5da8;
            background-color: #E0E0E0;
        };
        &:active {
            border: 1px solid white;
        };
    }
}



