.form {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 250px;
    justify-content: space-around;
    align-items: center;
}

.button {
    width: 90px;
    height: 30px;
    background-color: white;
    border: 2px solid #6799e3;
    color: #6799e3;
    font-size: 15px;
    border-radius: 8px;
}

.button:hover {
    background-color: #6799e3;
    color: white;
}

.formSummaryError {
    color: red;
}